<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>UI Route demo</title>
    <link rel="stylesheet" href="bower_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_modules/angular-material-data-table/dist/md-data-table.min.css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="myController" ng-controller="instanceController">

    <a ui-sref="design">Design</a>

    <!-- <div ui-view='main'></div> -->
    <div ui-view></div>

    <script src="/bower_modules/angular/angular.min.js"></script>
		<script src="/bower_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
 		<script src="/bower_modules/angular-animate/angular-animate.js"></script>
 		<script src="/bower_modules/angular-aria/angular-aria.js"></script>
		<script src="/bower_modules/angular-material/angular-material.js"></script>
		<script src="/bower_modules/angular-messages/angular-messages.js"></script>
		<script src="/bower_modules/ng-letter-avatar/ngletteravatar.js"></script>
		<script src="/bower_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="/javascripts/uiDemo.js"></script>

  </body>
</html>
