<!-- <div layout="column"> -->
  <!-- <md-content layout-padding> -->
      <form name="userForm">
          <div layout >
              <md-input-container flex>
                  <label>First name</label>
                  <input ng-model="user.firstName">
              </md-input-container>
              <md-input-container class="bigClass" flex>
                  <label>Last Name</label>
                  <input ng-model="user.lastName">
              </md-input-container>
          </div>
      </form>
  <!-- </md-content> -->
<!-- </div> -->
