<div flex ng-controller="createNamespaceCtrl" ng-cloak>
<form name="createNameSpace" novalidate>

    <div layout="column" layout-padding flex>   <!-- div for containing multiple parts like upper form, data  selector, create button -->
        <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe" flex layout="column">
          <!-- <div flex> -->
            <div  flex layout>
              <md-input-container flex="30" >
                <label>Name of NameSpace</label>
                <input type="text" ng-model="name" name="name" required>
                <div ng-messages="createNameSpace.name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

        <div  flex layout>
          <md-input-container flex="30" >
            <!-- <md-icon md-svg-src="image/svg/icon.svg"></md-icon> -->
            <textarea class="textarea" ng-model="description" type="textarea" placeholder="Description" ></textarea>
          </md-input-container>
        </div>
      </md-whiteframe>
      <div></div>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe" layout-padding>
        <md-input-container flex layout>
          <label>Define data schema for NameSpace</label>
        </md-input-container>

        <div layout="row" flex><!-- div for various input fields for accepting data fromat -->
          <md-input-container flex="20">
            <label>Name</label>
            <input type="text" ng-model="fieldAlias" required>
            <div ng-messages="createNameSpace.fieldAlias.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex-offset="5" flex="20">
            <label>Field Name</label>
            <input type="text" ng-model="fieldName" required>
            <div ng-messages="createNameSpace.fieldName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex-offset="5" flex="8">
            <!-- <label>Field Type</label> -->
              <md-radio-group ng-model="fieldType" class="md-primary" required>
                <md-radio-button value="dimension">Dimension (differentiates data)</md-radio-button>
                <md-radio-button value="measure">Measure (measurable field)</md-radio-button>
              </md-radio-group>
          </md-input-container>


          <md-input-container flex-offset="5">
            <md-button class="md-raised md-primary" ng-click="addDataFormat()" ng-disabled="createNameSpace.$invalid">Add</md-button>
          </md-input-container>
        </div>
      </md-whiteframe>
      <div></div>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe " flex layout="column" layout-padding>
        <md-input-container flex layout>
          <label>Data schema for NameSpace</label>
        </md-input-container>
        <!-- <div class="md-small createNameSpaceTable" layout>
          <div ng-repeat="datacol in nameSpace.keys" flex-offset="5" flex layout="row">
            <p>{{datacol}}</p>
          </div>
        </div> -->
        <md-content layout="column" flex>

            <!-- <table border flex layout="column">
              <thead>
                <tr flex layout>
                  <td flex>Alias Name</td>
                  <td flex>Field Name</td>
                  <td flex>Field Type</td>
                </tr>
              </thead>
              <tbody>
                <tr flex layout ng-repeat="schemaField in nameSpace.dataSchema">
                  <td flex ng-repeat="(key, val) in schemaField">{{value}}</td>
                </tr>
              </tbody>
            </table> -->
          <div ng-if="!nameSpace.dataSchema.length">
            <p>Data Schema not defined!</p>
          </div>
          <table ng-if="nameSpace.dataSchema.length">
           <thead >
             <tr>
               <th ng-repeat="(key, val) in nameSpace.dataSchema[0]">
                 {{key}}
               </th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="dataSchemaObj in nameSpace.dataSchema">
               <td ng-repeat="(key, val) in dataSchemaObj">
                 {{val}}
               </td>
               <!-- <td><md-button ng-click="delete($index)"><md-icon md-svg-src = '/images/icons/delete.svg'></md-icon></md-button></td> -->
               <td><md-button class="md-fab md-primary md-mini createNameSpaceDeleteButton" aria-label="Delete" ng-click="delete($index)">
                      <b>-</b>
                    </md-button>
                </td>
             </tr>
           </tbody>
          </table>
          <!-- </div> -->
        </md-content>
        <div>
          <p></p>
        </div>

      </md-whiteframe>
      <div></div>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe " layout layout-align="center center" layout-padding>
        <md-button class="md-raised md-primary" ng-click="createNamespaceSubmit()" ng-disabled="!nameSpace.dataSchema.length">Create</md-button>
      </md-whiteframe>
    </div>  <!-- div for containing multiple parts like upper form, data  selector, create button -->

</form>
</div>
