<div layout="row" class="viewDiv">
  <div layout="row">
    <md-grid-list>

      <md-grid-tile md-rowspan="3" md-colspan="2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati autem voluptatibus reprehenderit minus quos iure aliquam veniam consectetur dolores! Ducimus itaque soluta ex, sit tempore accusamus minima nesciunt facere quos.
        <md-grid-tile-footer>
          Lorem ipsum dolor sit amet
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile md-rowspan="3" md-colspan="2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati autem voluptatibus reprehenderit minus quos iure aliquam veniam consectetur dolores! Ducimus itaque soluta ex, sit tempore accusamus minima nesciunt facere quos.
        <md-grid-tile-footer>
          Lorem ipsum dolor sit amet
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile md-rowspan="3" md-colspan="2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati autem voluptatibus reprehenderit minus quos iure aliquam veniam consectetur dolores! Ducimus itaque soluta ex, sit tempore accusamus minima nesciunt facere quos.
        <md-grid-tile-footer>
          Lorem ipsum dolor sit amet
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>


  </div>
</div>
